<!--The whole content below can be removed with the new code.-->
<header style="text-align:center">
  <h1>
    What are we doing tonight ?
  </h1>
  <p class="sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</header>
<nav class="text-center">
  <a class="btn" routerLink="/search" routerLinkActive="active">
      <i class="fa fa-search"></i>
      Search
  </a>
  <a *ngIf="getUser() == null" class="btn" routerLink="/login" routerLinkActive="active">
    <i class="fa fa-sign-in"></i>
    Login
  </a>
  <a class="btn" *ngIf="getUser() != null" routerLink="/logout">
    <i class="fa fa-sign-out"></i>
    Logout
  </a>
</nav>
<router-outlet></router-outlet>
<footer>
  <p><i class="fa fa-copyright"></i> Peter Grund</p>
  <p>using <a href="https://www.yelp.com/developers/documentation/v3" target="_blank"><i class="fa fa-yelp"></i> Yelp API</a></p>
  <p>assignment of <a href="https://www.freecodecamp.com/challenges/build-a-nightlife-coordination-app" target="_blank">(<i class="fa fa-fire"></i>) FreeCodeCamp</a>
</footer>
