/* You can add global styles to this file, and also import other style files */
footer {

  margin-top: 3em;
  color: gray;
  font-size: smaller;

  text-align: center;
  line-height: .5em;

  font-style: italic;
}
