<!-- Filter the Movie Title   -->
<div class="container">
  <div class="row">
    <div class="input-group">
     <input type="text" class="form-control" [(ngModel)]="location" placeholder="Check for location ...">
     <span class="input-group-btn">
       <button *ngIf="navigator.geolocation" class="btn btn-default" type="button" (click)="onLocateMe()"><i class="fa fa-map-pin"></i></button>
       <button [disabled]="location.length<=0" class="btn btn-default" (click)="onSearch(location)" type="button">Go!</button>
     </span>
   </div>
 </div>
 <div class="row">
   <alert *ngIf="loading" type="info" class="col-xs-12 text-center">
     <strong><i class="fa fa-spinner fa-spin fa-4x"></i></strong>
     <p>loading sites to visit ...</p>
   </alert>
   <div [hidden]="loading" *ngIf="sites.length" class="site">
      <div class="col-xs-12 row" *ngFor="let site of sites" (click)="test(site)">
        <img [src]="site.image_url" class="col-xs-12 col-sm-3 col-md-2 img-responsive img-circle" />
        <div class="col-xs-12 col-sm-9 col-md-8">
          <img *ngIf="site.rating_img_url" [src]="site.rating_img_url" />
          <rating [(ngModel)]="site.rating" [max]="10" [readonly]="true"></rating>
          <span>({{site.reviews}} reviews)</span>
          <p class="lead">{{ site.name }}</p>
          <p>{{ site.description}}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 text-success text-right">
            <i class="fa fa-4x fa-user-plus" [routerLink]="['/visiting', site.id]"></i>
        </div>
      </div>
   </div>
 </div>
</div>
